body {
margin: 0;
font-family: 'Verdana';
font-size: 16px;
color: black;
}


nav span {
display: inline-block;
padding: 20px 10px;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    background-color: white;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
}
